In [ ]:
# Name: Shane Wierl
# Section: 100
# Homework: Homework 1, "Hello Computers!"
# Description: Practicing print commands and operations

In [2]:
# Question 4
print ("Hello, My name is Shane Wierl. I am from Lafayette Colorado.");
print ("I am in open option engineering and have taken many engineering courses in high school");
print ("My hobbies are biking, golfing, hiking, swimming, playing videogames, and having fun!");

Hello, My name is Shane Wierl. I am from Lafayette Colorado.
I am in open option engineering and have taken many engineering courses in high school
My hobbies are biking, golfing, hiking, swimming, playing videogames, and having fun!

In [1]:
# Question 5
print ();
#It prints a blank line

In [14]:
# Question 6
num = 10;
string = "hello";
float = 3.4;
#int + float = float
print(num + float);
#int * float = float
print(num * float);
#int / int = float
print(10/2);
print (10/4);
#int // int = int
print(10//3);
print(33//7);
#float * float = float
print(3.4*4.6);
#float // int = float
print(39.67 // 4);
#float + string = TypeError
#print(3.4 + string);
#String + int = TypeError
#print("4" + 6);
#String * int = string
print("8" * 5);
#string / int = TypeError
#print("66" / 6);

13.4
34.0
5.0
2.5
3
4
15.639999999999999
9.0
88888

In [17]:
# Question 7
#Exploring Modulus %
print(10%6);
#Modulus % gives the remainder of the division operation. 
#For example, 10/6 = 1, but with 4 leftover, which is the modulus of 10/6
print(220%11);
#There is no remainder because 11 goes into 220 evenly, so the modulus is 0.

4
0